## Boston Gender with Python!!! and machine learning!!!

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import math
import numpy as np
import csv
import numpy as np
import random
import scipy.stats as ss
import matplotlib.pyplot as plt

In [2]:
#from https://pypi.python.org/pypi/gender-guesser/0.4.0
#uses python 3 

import gender_guesser.detector as gender
d = gender.Detector()
print(d.get_gender(u"Bob"))

print(d.get_gender(u"Sally"))

print(d.get_gender(u"Pauley")) # should be androgynous

male
female
andy

In [3]:
#import the csv i downloaded from the website with the names -- could robotize this later..
# they have an API https://data.cityofboston.gov/Finance/Employee-Earnings-Report-2015/ah28-sywy
#pay_2016 = pd.read_csv("Employee_Earnings_Report_2016.csv")

#pay_2015 = pd.read_csv("Employee_Earnings_Report_2015.csv")
pay_2014 = pd.read_csv("Employee_Earnings_Report_2014.csv")
#pay_2016.head()

In [4]:
#pay_2016.info()
pay_2014.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22233 entries, 0 to 22232
Data columns (total 12 columns):
NAME               22233 non-null object
TITLE              22233 non-null object
DEPARTMENT NAME    22233 non-null object
REGULAR            22233 non-null object
RETRO              22233 non-null object
OTHER              22233 non-null object
OVERTIME           22233 non-null object
INJURED            22233 non-null object
DETAIL             22233 non-null object
QUINN              22233 non-null object
TOTAL EARNINGS     22233 non-null object
ZIP                22231 non-null object
dtypes: object(12)
memory usage: 2.0+ MB

In [5]:
pay_2014.head(10)
#pay_2015.head(10)

,NAME,TITLE,DEPARTMENT NAME,REGULAR,RETRO,OTHER,OVERTIME,INJURED,DETAIL,QUINN,TOTAL EARNINGS,ZIP
0,"Adario,Anthony J",Supvising Claims Agent (Asd),ASD Human Resources,$98538.32,$0.00,$1842.87,$0.00,$0.00,$0.00,$0.00,$100381.19,02132
1,"Baker,Katherine E.",Nurse Case Manager,ASD Human Resources,$83942.21,$0.00,$225.00,$0.00,$0.00,$0.00,$0.00,$84167.21,02136
2,"Braga,Ann Hess",HumanResourcesComplianceOffcr,ASD Human Resources,$98538.34,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$98538.34,02126
3,"Calobrisi,Jane Ellen",Personnel Analyst,ASD Human Resources,$70073.81,$0.00,$225.00,$0.00,$0.00,$0.00,$0.00,$70298.81,02090
4,"Castillo-Cook,Wendolyn M.",Alcholism Coord I,ASD Human Resources,$79253.11,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$79253.11,02121
5,"Curran,Liam Patrick",Asst Corp Counsel III,ASD Human Resources,$69266.69,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$69266.69,02122
6,"De Jesus,Winnie Yam",Affirm Action Monitor,ASD Human Resources,$42061.21,$0.00,$487.21,$0.00,$0.00,$0.00,$0.00,$42548.42,02458
7,"Donnelly,Jennifer P.",Prin Clerk,ASD Human Resources,$44080.61,$0.00,$300.00,$0.00,$0.00,$0.00,$0.00,$44380.61,02129
8,"Donovan,Carol Anne",Prin Admin Analyst,ASD Human Resources,$73547.25,$0.00,$0.00,$0.00,$0.00,$0.00,$0.00,$73547.25,02127
9,"Donovan,John J",Exec Asst (EAP/OHR),ASD Human Resources,$15019.39,$0.00,$10250.05,$0.00,$0.00,$0.00,$0.00,$25269.44,02132

what would I like to do now? for the graphic, I need to genderize, and then pick the top 100 people by pay.
the genderizer uses first name,so I need to make a column of first names..Ill start with the 2016 data set and aim to have this done soon to update my graphic...
...Ill have to experiment a bit with the genderizer so will pull out 20 names to test them..

In [6]:
#d_2016 = pay_2016 #copying the dataset to avoid changes
#d_2015 = pay_2015
d_2014 = pay_2014


#d_2016['regular'] = (d_2016['REGULAR'].replace( '[\$,)]','', regex=True ).astype(float))
#d_2016 = d_2016.rename(columns = {
#'REGULAR':"regular",
#"RETRO": "retro",})
                       
                       
#d_2016.head()
#d_2015.head()

In [7]:
#do I need to make sure other stuff is string?

d_2014['REGULAR'] = (d_2014['REGULAR'].replace( '[\$,)]','', regex=True ).astype(float)).round()
d_2014['RETRO'] = (d_2014['RETRO'].replace( '[\$,)]','', regex=True ).astype(float)).round()
d_2014['OTHER'] = (d_2014['OTHER'].replace( '[\$,)]','', regex=True ).astype(float)).round()
d_2014['OVERTIME'] = (d_2014['OVERTIME'].replace( '[\$,)]','', regex=True ).astype(float)).round()
d_2014['INJURED'] = (d_2014['INJURED'].replace( '[\$,)]','', regex=True ).astype(float)).round()
#in 2015 its detailS vs 2014,2016 detail 
d_2014['DETAIL'] = (d_2014['DETAIL'].replace( '[\$,)]','', regex=True ).astype(float)).round()
#2014 its just Quinn, not quinn/edu has in 2015 2016
d_2014['QUINN'] = (d_2014['QUINN'].replace( '[\$,)]','', regex=True ).astype(float)).round()
d_2014['TOTAL EARNINGS'] = (d_2014['TOTAL EARNINGS'].replace( '[\$,)]','', regex=True ).astype(float)).round()


d_2014.head()

d_2014 = d_2014.rename(columns = {
'REGULAR':"salary",
'RETRO':"retroactive",
'OTHER':'other',
'OVERTIME':'overtime',
'DETAIL':'detail',
'INJURED':'injured',
'QUINN/EDUCATION INCENTIVE':'quinn_education_incentive',
'TOTAL EARNINGS':'totalSalary',
'NAME':'name',
"DEPARTMENT_NAME" : "dept",
"TITLE" : "title",
"POSTAL" : "zip_code",
    
    
})
d_2014.head()


#the csv used for d3(v3) jsI want to update has this: columns are name, 
#firstName, dept, salary, totalSalary(still has $), gender -- is just F or M

,name,title,DEPARTMENT NAME,salary,retroactive,other,overtime,injured,detail,QUINN,totalSalary,ZIP
0,"Adario,Anthony J",Supvising Claims Agent (Asd),ASD Human Resources,98538.0,0.0,1843.0,0.0,0.0,0.0,0.0,100381.0,02132
1,"Baker,Katherine E.",Nurse Case Manager,ASD Human Resources,83942.0,0.0,225.0,0.0,0.0,0.0,0.0,84167.0,02136
2,"Braga,Ann Hess",HumanResourcesComplianceOffcr,ASD Human Resources,98538.0,0.0,0.0,0.0,0.0,0.0,0.0,98538.0,02126
3,"Calobrisi,Jane Ellen",Personnel Analyst,ASD Human Resources,70074.0,0.0,225.0,0.0,0.0,0.0,0.0,70299.0,02090
4,"Castillo-Cook,Wendolyn M.",Alcholism Coord I,ASD Human Resources,79253.0,0.0,0.0,0.0,0.0,0.0,0.0,79253.0,02121

Round salaries to nearest dollar

In [8]:
import math
h = int(round(4.2))
h

4

### I ll split on the names
and now can see that there are some middle names 
so I'm going to use Regex to clean a bit..
if there is a Capitalized letter with nothing after, or a capitalized letter with a period, I want to split it, but otherwise Ill keep the two names, don't know how genderizer will handle them but well see..


had to do the splitting off of first name in two steps that probably should be one so can review later..below might help

#see this
#https://stackoverflow.com/questions/29585106/pandas-how-to-split-twice-a-given-field
 #try this:
trimmed_list = [i.replace('.', ',').split(',') for i in sbj[0].tolist() if i != ""]
item_list = [item.strip(whitespace) for item in itertools.chain(*trimmed_list)]
item_count = Counter(item_list)

In [9]:
firstName = d_2014.name.apply(lambda x: x.split(',')[1])
y = [name.split(" ")[0] for name in firstName]
y
#[]f_name.apply(lambda x: x.split(',')[1])
#first_name

#name_split = [name.split(',') for name in names]
#newlist = []
#for name in name_split:
 #   first = name[1]
  #  newlist.append(first)
#y = []
#for name in f_name:
 #   x = name.split(" ")
  #  y.append(x[0])
#print(y)

['Anthony',
 'Katherine',
 'Ann',
 'Jane',
 'Wendolyn',
 'Liam',
 'Winnie',
 'Jennifer',
 'Carol',
 'John',
 'Kimberly',
 'Irene',
 'Frank',
 'Teresia',
 'Xing-Bing',
 'Michael',
 'Allison',
 'Kathleen',
 'Celiana',
 'Sheila',
 'Jacqueline',
 'William',
 'Bernard',
 'Diane',
 'Winnie',
 'Vivian',
 'Leah',
 'Jean',
 'Laura',
 'Darius',
 'Kathyria',
 'Linda',
 'Carla',
 'Alexandra',
 'David',
 'Michele',
 'Joann',
 'Jessica',
 'Lisa',
 'Ramona',
 'Arthenis',
 'Audrey',
 'Roger',
 'Maryellen',
 'Jennifer',
 'Joan',
 'John',
 'Patricia',
 'Dana',
 'Tina',
 'Jennifer',
 'Michael',
 'Barbara',
 'Miriam',
 'James',
 'Christopher',
 'Kaitlin',
 'Inez',
 'Kathryn',
 'Kathleen',
 'Dina',
 'Ramon',
 'James',
 'Timothy',
 'Johanna',
 'Carol',
 'Jacquelyn',
 'Karen',
 'Deborah',
 'Stephen',
 'Lynda',
 'Liliana',
 'John',
 'Ellen',
 'Era',
 'James',
 'Sheila',
 'Mary',
 'Joseph',
 'Joanne',
 'Michael',
 'Edward',
 'Marianne',
 'Anthony',
 'Gerard',
 'Abigail',
 'Anna',
 'Paul',
 'James',
 'Ahsan',
 'Geneen',
 'Robert',
 'Paul',
 'Jessica',
 'Restilda',
 'Andrea',
 'Jeffrey',
 'Alice',
 'David',
 'Steven',
 'Gerard',
 'Joey',
 'Michael',
 'Kevin',
 'Erik',
 'Paul',
 'Francis',
 'Barry',
 'Brian',
 'Jian',
 'Gerald',
 'Arlene',
 'Chen',
 'Robert',
 'Paul',
 'Paul',
 'John',
 'Yvonne',
 'Winifred',
 'Lisa',
 'Michael',
 'Cai',
 'Kidani',
 'Luis',
 'Roy',
 'Tracey',
 'Jennifer',
 'Nicholas',
 'Thomas',
 'Michele',
 'John',
 'Raymond',
 'Rudolph',
 'Damian',
 'Arlene',
 'Deborah',
 'Laura',
 'Gerald',
 'Quiana',
 'Charles',
 'Jonathan',
 'Arion',
 'Emmanuel',
 'Quyen',
 'Jocelyn',
 'Matthew',
 'Edem',
 'Ivelinda',
 'Bryan',
 'James',
 'Francis',
 'Gerald',
 'Phuong',
 'Darlene',
 'Darlene',
 'Constance',
 'Karen',
 'Curtis',
 'Laura',
 'William',
 'Vivian',
 'Irina',
 'Maureen',
 'David',
 'James',
 'Xing',
 'Gloria',
 'Patricia',
 'Nicolette',
 'Frederick',
 'Patrick',
 'Ellen',
 'Donna',
 'Heriberto',
 'David',
 'Garth',
 'Gerard',
 'Tuyen',
 'Sandra',
 'Natalie',
 'Cara',
 'Listra',
 'Ronald',
 'Craig',
 'Alicia',
 'Janet',
 'Martin',
 'Anthony',
 'Kevin',
 'Christine',
 'Sylvia',
 'Earl',
 'Aaron',
 'Arlande',
 'Dino',
 'Kevin',
 'Leo',
 'John',
 'Deborah',
 'Sherrie',
 'Theresa',
 'Grace',
 'John',
 'Vanessa',
 'Brendan',
 'Thomas',
 'Gayle',
 'Hinlan',
 'Faye',
 'Prema',
 'Natoya',
 'Michelle',
 'Dennis',
 'Mattie',
 'Margaret',
 'Souleymane',
 'Christina',
 'Sally',
 'Kourtney',
 'Allen',
 'Sinthia',
 'James',
 'Jeffrey',
 'Jill',
 'Kelli',
 'Traci',
 'Licia',
 'Nelida',
 'Nelly',
 'Medina',
 'MaryAnn',
 'Hazel',
 'Elvira',
 'Timothy',
 'Chivy',
 'Michael',
 'Christopher',
 'Mary',
 'Magnolia',
 'Raoul',
 'Lisa',
 'Ming',
 'Julie',
 'Robert',
 'Ashley',
 'Stanley',
 'Paul',
 'Nadia',
 'Kristin',
 'John',
 'Ivon',
 'Walter',
 'Candace',
 'Francis',
 'Jill',
 'Elizabeth',
 'Sharlea',
 'Justin',
 'Katherine',
 'Chelsey',
 'Robyn',
 'James',
 'Alexander',
 'Betty',
 'Mark',
 'Brian',
 'Elaine',
 'Ron',
 'Henry',
 'Timothy',
 'John',
 'Terry',
 'Amanda',
 'Daisy',
 'William',
 'Judith',
 'Leila',
 'Maria',
 'Meichelle',
 'Andreina',
 'Michael',
 'Lorraine',
 'Thomas',
 'Jacqueline',
 'Lynnette',
 'Amy',
 'Brian',
 'Augusto',
 'Reynolds',
 'Kamisha',
 'Mark',
 'William',
 'Shaikh',
 'Kyndal',
 'Camilo',
 'James',
 'Sarah',
 'Jared',
 'Oluwasegun',
 'James',
 'Tito',
 'Tiffany',
 'Kerry',
 'Brittany',
 'Tricia',
 'Samantha',
 'Janet',
 'Addison',
 'Carolyn',
 'Carol',
 'Bernadette',
 'Salvatore',
 'Maria',
 'Kourtney',
 'Herby',
 'William',
 'Juan',
 'William',
 'Stephen',
 'Timothy',
 'Thomas',
 'Joseph',
 'Jennifer',
 'Mark',
 'Susan',
 'Patricia',
 'Cora',
 'Stephen',
 'Kara',
 'Michael',
 'Mary',
 'Christine',
 'Deborah',
 'Matthew',
 'Heather',
 'Chitori',
 'Emily',
 'Daniel',
 'Ayanna',
 'Jackney',
 'Frank',
 'Nichelle',
 'Allyson',
 'Beatriz',
 'Michael',
 'Nichelle',
 'Lorraine',
 'Christina',
 'Lisbert',
 'Daniel',
 'Mohona',
 'Michael',
 'Cedric',
 'Vatsady',
 'Hannah',
 'Lincoln',
 'Michelle',
 'Ryan',
 'Elizabeth',
 'Kathleen',
 'Paul',
 'James',
 'Jessica',
 'Lori',
 'John',
 'Alexandra',
 'Yuleidy',
 'David',
 'Ann',
 'Joseph',
 'Sophia',
 'Gary',
 'Eric',
 'Hannah',
 'Michelle',
 'Charles',
 'Kenneth',
 'Josh',
 'Jessika',
 'Luis',
 'Natasha',
 'Stephanie',
 'David',
 'Corrado',
 'Steven',
 'Fred',
 'Abdirashid',
 'Ahmed',
 'Amanda',
 'Christopher',
 'Geneva',
 'William',
 'Helen',
 'Alexis',
 'Christopher',
 'Hector',
 'Juan',
 'Carl',
 'Frederick',
 'Martin',
 'Jasmine',
 'Malik',
 'Elaine',
 'Al',
 'Rebecca',
 'Kevin',
 'Krishante',
 'Felix',
 'Ronald',
 'Wail',
 'Woodley',
 'Dennis',
 'Aaron',
 'Jeannete',
 'Carol',
 'Michelle',
 'Nicole',
 'Dorian',
 'Dalton',
 'Ashley',
 'Louis',
 'Marlon',
 'Kinaesiaa',
 'Maurice',
 'Stephen',
 'Darryl',
 'Elena',
 'Michael',
 'Samantha',
 'Dymone',
 'Alyson',
 'Lorna',
 'Rafael',
 'Raul',
 'Jean',
 'Barbara',
 'Franna',
 'Lesley-Ann',
 'Curtiss',
 'Verdree',
 'Linda',
 'Davetta',
 'Linda',
 'Mark',
 'Michael',
 'Yolanda',
 'Michelle',
 'Cheryl',
 'Chevahn',
 'Louis',
 'Kenyah',
 'Larelle',
 'Hayward',
 'Michael',
 'Anngeron',
 'Erin',
 'Mary',
 'Dana',
 'Sunseray',
 'Bridget',
 'Richard',
 'Erika',
 'Heidi',
 'Susan',
 'Christopher',
 'Sounja',
 'Justin',
 'Carly',
 'Mary',
 'James',
 'John',
 'Durreem',
 'Jennifer',
 'Kara',
 'Debra',
 'Anthony',
 'Nicholas',
 'Cathy',
 'Diane',
 'Tony',
 'Markeece',
 'Patricia',
 'Dane',
 'Cheyenne',
 'Jacqueline',
 'Warren',
 'Yuk',
 'Cassandra',
 'Robin',
 'Rose',
 'Cynthia',
 'Maureen',
 'Jennifer',
 'Aimee',
 'Charles',
 'John',
 'Cherie',
 'Rasheem',
 'Owen',
 'Carmen',
 'Jeron',
 'Ricardo',
 'Dewey',
 'Dana',
 'Justin',
 'Kylie',
 'Alonzo',
 'Erin',
 'Eileen',
 'Carol',
 'David',
 'Jean',
 'David',
 'Domingos',
 'Nicole',
 'Scott',
 'Lawrence',
 'Kimyana',
 'Nicole',
 'Philip',
 'Charles',
 'Kathleen',
 'Juan',
 'Anthony',
 'Robert',
 'Jesse',
 'Julie',
 'Laurie',
 'Evelyn',
 'James',
 'Jaleesa',
 'Taylor',
 'Anthony',
 'Joceline',
 'Michelle',
 'Robert',
 'Michael',
 'Paul',
 'Pedro',
 'Haley',
 'Rocco',
 'Dena',
 'Delores',
 'Paul',
 'Dorien',
 'Simone',
 'Marvin',
 'James',
 'Robin',
 'Chelsea',
 'Jose',
 'Ramon',
 'Marcus',
 'Michael',
 'Martin',
 'Siham',
 'Frank',
 'Tia',
 'Geneva',
 'Jorge',
 'Jose',
 'Miranda',
 'Ryan',
 'Debra',
 'Robert',
 'Maura',
 'Paola',
 'Alissa',
 'Marcilio',
 'Bethzaida',
 'Masika',
 'Jamaine',
 'Hector',
 'Mateo',
 'Jorge',
 'Diane',
 'Devin',
 'John',
 'Sean',
 'Elvis',
 'Yamalia',
 'Ross',
 'Lana',
 'Monica',
 'Beverly',
 'Nadine',
 'Lee',
 'Maryann',
 'Michael',
 'Matthew',
 'Patricia',
 'Hajji',
 'Tyrell',
 'Timothy',
 'KATIE',
 'John',
 'Sophia',
 'Marlon',
 'Dionne',
 'Arthur',
 'Edward',
 'Grace',
 'Carlisa',
 'Tomika',
 'Barbara',
 'Rosie',
 'Ryann',
 'Edward',
 'Vernessa',
 'LeKeith',
 'Clarke',
 'Jermaine',
 'Raymond',
 'Jason',
 'Isabel',
 'Kate',
 'Ninive',
 'Victoria',
 'Robert',
 'Taylor',
 'John',
 'Diane',
 'David',
 'Michael',
 'Patrick',
 'Sandra',
 'Anthony',
 'Adriauna',
 'Kimberly',
 'Robin',
 'Sayvonn',
 'Ernest',
 'Lauren',
 'Talia',
 'Ernest',
 'Ralph',
 'Christine',
 'Andrew',
 'Jahnee',
 'Jamal',
 'Jeffrey',
 'John',
 'Kayla',
 'Kenneth',
 'Lynne',
 'Laurie',
 'Harris',
 'Adrean',
 'Cynthia',
 'Doreen',
 'Marcelina',
 'Lauren',
 'Willie',
 'Bruce',
 'Mariellen',
 'Najja',
 'Michael',
 'Varnie',
 'Gregory',
 'Corinne',
 'Deven',
 'Barbara',
 'Patricia',
 'Shelly',
 'Johnnie',
 'Queneshia',
 'Thony',
 'Arthur',
 'Sakri',
 'Charles',
 'Lauren',
 'Tiffany',
 'Abdelmoula',
 'Catherine',
 'Ricky',
 'Jill',
 'Joan',
 'Benjamin',
 'Brian',
 'Declan',
 'Garrett',
 'Bobby',
 'Jasmine',
 'William',
 'Lisa',
 'Richard',
 'Tracey',
 'Deanna',
 'GuoQuan',
 'Winston',
 'Lauren',
 'Helena',
 'Tany',
 'Evan',
 'Courtney',
 'Kyanna',
 'John',
 'Maureen',
 'Jeff',
 'Antonia',
 'Robert',
 'Judy',
 'MacKennan',
 'Adrian',
 'Aaliyah',
 'Joshua',
 'Marissa',
 'John',
 'Joseph',
 'Paul',
 'Damien',
 'Daniel',
 'Chaundra',
 'Ann',
 'Therese',
 'Gregory',
 'Ann',
 'Wilkin',
 'Kenneth',
 'Willie',
 'John',
 'Alfred',
 'Keisha',
 'Brian',
 'Maryellen',
 'Patrick',
 'Robert',
 'Brian',
 'Eric',
 'Erin',
 'Cathleen',
 'Anthony',
 'David',
 'Gina',
 'Francisco',
 'Danny',
 'Lady',
 'Judie',
 'Stiven',
 'Robert',
 'Tiffany',
 'Yamiley',
 'Brianna',
 'Jovany',
 'Michael',
 'Donna',
 'Daniel',
 'Jeremy',
 'Manuel',
 'Rodney',
 'Gloria',
 'Frederico',
 'Sherike',
 'Jason',
 'Gloria',
 'Susan',
 'Gitau',
 'Jililan',
 'Joshua',
 'Christian',
 'Shereetha',
 'Kenneth',
 'Dawn',
 'Aaron',
 'Jane',
 'Steven',
 'Vinh',
 'Richard',
 'Tonya',
 'Jovante',
 'Akhyra',
 'Jamar',
 'James',
 'Katie',
 'Ashley',
 'Gerald',
 'Jeanmarie',
 'Kevin',
 'Enir',
 'Edwin',
 'John',
 'Larisa',
 'Khalid',
 'Roderick',
 'Donna',
 'Leslee',
 'Angel',
 'Jennifer',
 'George',
 'Barbara',
 'Charisse',
 'Kevin',
 'Josephine',
 'Alejandro',
 'Aristidez',
 'Jerell',
 'Lillian',
 'Jacquiline',
 'Rahsaan',
 'John',
 'Devin',
 'Tiffany',
 'Yves',
 'Milagros',
 'Sean',
 'Aidee',
 'Lazaro',
 'Stephen',
 'Rebecca',
 'Bladimil',
 'Andres',
 'Sheila',
 'Jalanna',
 'Donna',
 'Karen',
 'Thomas',
 'Leocadio',
 'Celso',
 'Daiquan',
 'Tonya',
 'Ivelise',
 'James',
 'Roger',
 'Ze',
 'Ana',
 'Eduardo',
 'Jesus',
 'Jose',
 'Allison',
 'Bethsy',
 'Jose',
 'Nancy',
 'Richard',
 'Judith',
 'William',
 'Alex',
 'Jerry',
 'Martha',
 'Heather',
 'Romaine',
 'Lisa',
 'Rui',
 'Edward',
 'Valerie',
 'Jasper',
 'Meagan',
 'Kimberly',
 'Anthony',
 'Warren',
 'Cynthia',
 'Laurie',
 'Ann',
 'Christina',
 'Addie',
 'Alicia',
 'William',
 'Willie',
 'Zoheir',
 'Roberta',
 'Shaleyse',
 'Alfred',
 'Crystal',
 'Jason',
 'Maurice',
 'Sherman',
 'Stuart',
 'Troy',
 'Christopher',
 'Mary',
 'Keith',
 'Shakeen',
 'Michael',
 'William',
 'Chi',
 'Brian',
 'John',
 'Lenroy',
 'Michael',
 'Carnell',
 'Jennifer',
 'SOLOMON',
 'Nakieka',
 'Raymond',
 'Brandon',
 'Chenault',
 'Michael',
 'MariaElena',
 'Mamenasha',
 'Tevin',
 'James',
 'David',
 'Randy',
 'Elizabeth',
 'Marco',
 'Noel',
 'Anh',
 'Michael',
 'Desiree',
 'Ezzard',
 'Tony',
 'Adanma',
 'Nalitza',
 'Denisha',
 'Michael',
 'Javier',
 'Julian',
 'Jose',
 'Jose',
 'John',
 'Michelle',
 'Jenna',
 'Ernest',
 'Patrick',
 'Carolyn',
 'Kaitlin',
 'Felicia',
 'Robert',
 'James',
 'William',
 'Armond',
 'Larry',
 'Khira',
 'Latoya',
 'Shawn',
 'Joseph',
 'Patricia',
 'Edward',
 'Charles',
 'Robert',
 'Michael',
 'Jesse',
 'Brian',
 'Aliya',
 'Trina',
 'Brittany',
 'Kelsey',
 'Sophya',
 'Annette',
 'Helen',
 'Elyse',
 'Mary',
 'Kimeisha',
 'Allan',
 'Lisa',
 'Lyn',
 'Emmanuel',
 'Lauren',
 'Steven',
 'Eunice',
 'Melissa',
 'Jean',
 'Susan',
 'Pamela',
 'Julius',
 'Alan',
 'Melisa',
 'Rebecca',
 'Irena',
 'Sengova',
 'Nkrumah',
 'Laura',
 'Dawn',
 'Laurie',
 'Deanna',
 'William',
 'Helen',
 'Vanessa',
 'Mary',
 'Marsha',
 'Nancy',
 'Amanda',
 'Jane',
 'Elisa',
 'Julia',
 'Thomas',
 'Celeste',
 'Joanne',
 'Angela',
 'Ellen',
 'Helen',
 'Valerie',
 'LaNiesha',
 'Rebecca',
 'Amanda',
 'Aveann',
 'Claudette',
 'William',
 'Carole',
 'Delores',
 'Doris',
 'Kate',
 'Nancy',
 'Christina',
 'Janet',
 'Kristaq',
 'Luljeta',
 'Le',
 'Richard',
 'Mimoza',
 'Aaron',
 ...]

In [10]:
lastName = d_2014.name.apply(lambda x: x.split(',')[0])
#y = [name.split(" ")[0] for name in firstName]
#y
lastName.head()

0           Adario
1            Baker
2            Braga
3        Calobrisi
4    Castillo-Cook
Name: name, dtype: object

create a column called first name and one called gender

In [11]:
import gender_guesser.detector as gender
d = gender.Detector()

gender = []

for name in y:
    gender_it = d.get_gender(name)
    gender.append(gender_it)

d_2014["firstName"] = y
d_2014["gender"] = gender

Do the whole data set, create a column of first name and a column of gender, i need to make it match eventually
what I used in my D3 csv to avoid hassle when recreating the graphic

In [12]:

d_2014.head()

,name,title,DEPARTMENT NAME,salary,retroactive,other,overtime,injured,detail,QUINN,totalSalary,ZIP,firstName,gender
0,"Adario,Anthony J",Supvising Claims Agent (Asd),ASD Human Resources,98538.0,0.0,1843.0,0.0,0.0,0.0,0.0,100381.0,02132,Anthony,male
1,"Baker,Katherine E.",Nurse Case Manager,ASD Human Resources,83942.0,0.0,225.0,0.0,0.0,0.0,0.0,84167.0,02136,Katherine,female
2,"Braga,Ann Hess",HumanResourcesComplianceOffcr,ASD Human Resources,98538.0,0.0,0.0,0.0,0.0,0.0,0.0,98538.0,02126,Ann,female
3,"Calobrisi,Jane Ellen",Personnel Analyst,ASD Human Resources,70074.0,0.0,225.0,0.0,0.0,0.0,0.0,70299.0,02090,Jane,female
4,"Castillo-Cook,Wendolyn M.",Alcholism Coord I,ASD Human Resources,79253.0,0.0,0.0,0.0,0.0,0.0,0.0,79253.0,02121,Wendolyn,unknown

change the order of the columns

In [13]:
cols = list(d_2014.columns.values)
cols

['name',
 'title',
 'DEPARTMENT NAME',
 'salary',
 'retroactive',
 'other',
 'overtime',
 'injured',
 'detail',
 'QUINN',
 'totalSalary',
 'ZIP',
 'firstName',
 'gender']

In [14]:
d_2014 = d_2014[[
 'name',
'firstName',
 'gender',
 'salary',
'totalSalary',
'DEPARTMENT NAME',
 'title',
 'retroactive',
 'other',
 'overtime',
 'injured',
 'detail',
 'QUINN',
 'ZIP', 
 ]]
d_2014.head()

,name,firstName,gender,salary,totalSalary,DEPARTMENT NAME,title,retroactive,other,overtime,injured,detail,QUINN,ZIP
0,"Adario,Anthony J",Anthony,male,98538.0,100381.0,ASD Human Resources,Supvising Claims Agent (Asd),0.0,1843.0,0.0,0.0,0.0,0.0,02132
1,"Baker,Katherine E.",Katherine,female,83942.0,84167.0,ASD Human Resources,Nurse Case Manager,0.0,225.0,0.0,0.0,0.0,0.0,02136
2,"Braga,Ann Hess",Ann,female,98538.0,98538.0,ASD Human Resources,HumanResourcesComplianceOffcr,0.0,0.0,0.0,0.0,0.0,0.0,02126
3,"Calobrisi,Jane Ellen",Jane,female,70074.0,70299.0,ASD Human Resources,Personnel Analyst,0.0,225.0,0.0,0.0,0.0,0.0,02090
4,"Castillo-Cook,Wendolyn M.",Wendolyn,unknown,79253.0,79253.0,ASD Human Resources,Alcholism Coord I,0.0,0.0,0.0,0.0,0.0,0.0,02121

messing about with the name split 

name_split = [name.split(',') for name in names]
newlist = []
for name in name_split:
    first = name[1]
    newlist.append(first)
y = []
for name in newlist:
    x = name.split(" ")
    y.append(x[0])

#add y as a column in the data set

d_2016["first_names"] = y
d_2016.head()

messing about

import gender_guesser.detector as gender
d = gender.Detector()

gender = []

for name in y:
    gender_it = d.get_gender(name)
    gender.append(gender_it)
d_2016["gender"] = gender
d_2016.head()

shortdf = d_2016[["NAME","first_names","gender","REGULAR"]] #I can add stuff here later and rerun for my csv, ie department
print(shortdf.sort_values(by=['gender'],ascending=True))

now I'd like to see how many there are of each type in the new gender column...

In [15]:
d_2014['gender'].value_counts() #andy is androgynous

male             9387
female           9324
unknown          2011
mostly_female     984
mostly_male       359
andy              168
Name: gender, dtype: int64

df.loc[df['First Season'] > 1990, 'First Season'] = 1

In [16]:
d_2014.loc[d_2014['gender'] == "mostly_female", "gender"] = "female"
d_2014.loc[d_2014['gender'] == "mostly_male", "gender"] = "male"
d_2014['gender'].value_counts() #andy is androgynous

female     10308
male        9746
unknown     2011
andy         168
Name: gender, dtype: int64

I'm going to group mostly's into their respective groups

im going to sort by top 100 earners to see how many of those have different value counts since
that's what I use in my chart

these two women are listed as unknowns, since I looked them up im going to fix in the data set..
13129          McCreary,Makeeba   Makeeba                 Communications   
6050   Edouard-Vincent,Marice M    Marice  Asst Superintendent-Network A

In [17]:
d_2014.loc[d_2014['name'] == "McCreary,Makeeba", "gender"] = "female"
d_2014.loc[d_2014['name'] == "Edouard-Vincent,Marice M", "gender"] = "female"
d_2014['gender'].value_counts()

female     10309
male        9746
unknown     2010
andy         168
Name: gender, dtype: int64

In [18]:
d_2014.dtypes

name                object
firstName           object
gender              object
salary             float64
totalSalary        float64
DEPARTMENT NAME     object
title               object
retroactive        float64
other              float64
overtime           float64
injured            float64
detail             float64
QUINN              float64
ZIP                 object
dtype: object

In [19]:
print(d_2014.shape)
d_2014.columns

(22233, 14)

Index(['name', 'firstName', 'gender', 'salary', 'totalSalary',
       'DEPARTMENT NAME', 'title', 'retroactive', 'other', 'overtime',
       'injured', 'detail', 'QUINN', 'ZIP'],
      dtype='object')

In [20]:
d_2014.head()

,name,firstName,gender,salary,totalSalary,DEPARTMENT NAME,title,retroactive,other,overtime,injured,detail,QUINN,ZIP
0,"Adario,Anthony J",Anthony,male,98538.0,100381.0,ASD Human Resources,Supvising Claims Agent (Asd),0.0,1843.0,0.0,0.0,0.0,0.0,02132
1,"Baker,Katherine E.",Katherine,female,83942.0,84167.0,ASD Human Resources,Nurse Case Manager,0.0,225.0,0.0,0.0,0.0,0.0,02136
2,"Braga,Ann Hess",Ann,female,98538.0,98538.0,ASD Human Resources,HumanResourcesComplianceOffcr,0.0,0.0,0.0,0.0,0.0,0.0,02126
3,"Calobrisi,Jane Ellen",Jane,female,70074.0,70299.0,ASD Human Resources,Personnel Analyst,0.0,225.0,0.0,0.0,0.0,0.0,02090
4,"Castillo-Cook,Wendolyn M.",Wendolyn,unknown,79253.0,79253.0,ASD Human Resources,Alcholism Coord I,0.0,0.0,0.0,0.0,0.0,0.0,02121

In [21]:
#Get a sense of how many missing values there are in the dataframe.
np.sum([d_2014.salary.isnull()])
np.sum([d_2014.gender.isnull()])

0

In [22]:
salarySorted = d_2014.sort_values(by='salary', ascending=False)
salarySorted.head()

,name,firstName,gender,salary,totalSalary,DEPARTMENT NAME,title,retroactive,other,overtime,injured,detail,QUINN,ZIP
16227,"McDonough,John P",John,male,254358.0,259165.0,Superintendent,Superintendent,0.0,4808.0,0.0,0.0,0.0,0.0,02129
18127,"Evans,William B",William,male,186204.0,186204.0,Boston Police Department,Commissioner (Bpd),0.0,0.0,0.0,0.0,0.0,0.0,02127
21932,"Ruggere,Michael J",Michael,male,183196.0,242423.0,Boston Fire Department,Dep Fire Chief,20912.0,4566.0,33749.0,0.0,0.0,0.0,02188
21103,"Granara,David Richard",David,male,183087.0,214774.0,Boston Fire Department,DepFireChiefAdmn-AdvTechnician,20929.0,10758.0,0.0,0.0,0.0,0.0,02128
21171,"Hasson,John",John,male,182485.0,200466.0,Boston Fire Department,Dep Fire Chief Administration,0.0,17379.0,0.0,602.0,0.0,0.0,02125

In [23]:
#need to fix the 2014 department names to match the d3 names and also format the full names since writtenbadly for tooltip use
new_names = {'DEPARTMENT NAME':'dept'}
salarySorted = salarySorted.rename(index=str, columns=new_names)

so i have what i need above to export to csv and update my graph...START HERE
-- after updating, play with bokeh here? do a new sheet to update FBI crime project?

the csv used for d3(v3) jsI want to update has this: columns are name, firstName, dept, salary, totalSalary(still has $), gender -- is just F or M 
so make a truncated version of the csv
name in this style to be like existing csv:
a_data_boston_2014_employee_top_100

In [24]:
#make csv with just the earlier data columns ie 6 of them newdf = df[(df['column_one']>2004) & (df['column_two']==9)]
#AND JUST PICK THE TOP 100 
shortForCsv = salarySorted[["name", "firstName", "gender","salary", "totalSalary","dept" ]].head(100)
#df1 = df[['a','b']]
#df1 = df.ix[:,0:2]
#shortForCsv['gender'].value_counts()

In [25]:
salarySorted.head()

,name,firstName,gender,salary,totalSalary,dept,title,retroactive,other,overtime,injured,detail,QUINN,ZIP
16227,"McDonough,John P",John,male,254358.0,259165.0,Superintendent,Superintendent,0.0,4808.0,0.0,0.0,0.0,0.0,02129
18127,"Evans,William B",William,male,186204.0,186204.0,Boston Police Department,Commissioner (Bpd),0.0,0.0,0.0,0.0,0.0,0.0,02127
21932,"Ruggere,Michael J",Michael,male,183196.0,242423.0,Boston Fire Department,Dep Fire Chief,20912.0,4566.0,33749.0,0.0,0.0,0.0,02188
21103,"Granara,David Richard",David,male,183087.0,214774.0,Boston Fire Department,DepFireChiefAdmn-AdvTechnician,20929.0,10758.0,0.0,0.0,0.0,0.0,02128
21171,"Hasson,John",John,male,182485.0,200466.0,Boston Fire Department,Dep Fire Chief Administration,0.0,17379.0,0.0,602.0,0.0,0.0,02125

bring the csv formula lower later..

I havent done anything about the gender groups yet, I need to make them into M or F and get rid of or 
check the unknowns and mostly's...'

In [26]:
shortForCsv['gender'].value_counts()

male       80
female     19
unknown     1
Name: gender, dtype: int64

In [27]:
unknowns = shortForCsv[(shortForCsv['gender']== "unknown")]
#MM = shortForCsv[(shortForCsv['gender']== "mostly_male")]
#MF = shortForCsv[(shortForCsv['gender']== "mostly_female")]
print(unknowns) 
#since its a fairly short list Im going to look them up on the intraweb but this is something I should automate or skip those 
#names, or make my own additional filter using social security names?
#i Can also add the ones Ive checked to these lists so they are

                     name  firstName   gender    salary  totalSalary  \
16132  Chavda,Kamalkant A  Kamalkant  unknown  143493.0     143493.0

                         dept
16132  Research Assess & Eval

McCreary - F
https://www.bostonpublicschools.org/site/default.aspx?PageType=3&ModuleInstanceID=9715&ViewID=7b97f7ed-8e5e-4120-848f-a8b4987d588f&RenderLoc=0&FlexDataID=7541&PageID=4853

 Edouard-Vincent,Marice - F
https://twitter.com/netsuptb?lang=en

McGovern,Ryan J -- M
http://www.firehouse.com/news/11252963/after-falling-through-floor-boston-firefighter-thankful-for-minor-injuries

Franklin-Hodge,Jascha -- M
https://www.boston.gov/departments/innovation-and-technology/jascha-franklin-hodge

  Nee,Kelly A  -- F
https://www.youtube.com/watch?v=2x7OrSKi_04

 Driscoll,Mary E      Mary  Asst Superintendent-Network A - F
 https://www.bc.edu/schools/csom/lynchacademy/alumni/2012/Driscoll.html
 
  Hung,Kelly M     Kelly  Asst Superintendent-Network A  153503.93 -- F
  
  https://www.bc.edu/schools/csom/lynchacademy/alumni/2014/KHung.html
  
  Chavda,Kamalkant A
  
  http://picssr.com/photos/bostonfoundation/interesting/page2?nsid=64189140@N04

NEED TO FIX THE WEB LINK ON THE CHARTS PAGE TO GO TO 2016

I could look up the mostly and unknowns to confirm their gender -- its just 7 peeps

In [28]:
shortForCsv.head()

,name,firstName,gender,salary,totalSalary,dept
16227,"McDonough,John P",John,male,254358.0,259165.0,Superintendent
18127,"Evans,William B",William,male,186204.0,186204.0,Boston Police Department
21932,"Ruggere,Michael J",Michael,male,183196.0,242423.0,Boston Fire Department
21103,"Granara,David Richard",David,male,183087.0,214774.0,Boston Fire Department
21171,"Hasson,John",John,male,182485.0,200466.0,Boston Fire Department

it would be nice to add additioal charts to that page, like for 2016 are the highest paid workers in 
each dept male or female? not sure how to make a simple graph like that, dot matrix?

it seems like tommy chang is top earner but comes up as superintendent, rather than school system. going to take a look at how they label departments in the larger data set..

In [29]:
print(shortForCsv["gender"].value_counts()) 
d_2014['gender'].value_counts()

male       80
female     19
unknown     1
Name: gender, dtype: int64

female     10309
male        9746
unknown     2010
andy         168
Name: gender, dtype: int64

I'm going to group the schools for the top 100 under Boston Public Schools

In [30]:
#test = shortForCsv[(shortForCsv['dept']== "Fam & Student Engagemt")]
#test1 = shortForCsv[(shortForCsv['dept']== "Achievement Gap")]
test2 = shortForCsv[(shortForCsv['dept']== "Dpt of Innovation & Technology")]

test2

Empty DataFrame
Columns: [name, firstName, gender, salary, totalSalary, dept]
Index: []

In [31]:
shortForCsv.loc[shortForCsv['dept'] == "Asst Superintendent-Network A", "dept"] = "Boston Public Schools"
shortForCsv.loc[shortForCsv['dept'] == "BPS Special Education", "dept"] = "Boston Public Schools"
shortForCsv.loc[shortForCsv['dept'] == "Fam & Student Engagemt", "dept"] = "Boston Public Schools"
shortForCsv.loc[shortForCsv['dept'] == "Achievement Gap", "dept"] = "Boston Public Schools"
shortForCsv.loc[shortForCsv['dept'] == "Kennedy, EM Health Academy", "dept"] = "Boston Public Schools"
shortForCsv.loc[shortForCsv['dept'] == "BPS Human Resource Team", "dept"] = "Boston Public Schools"
shortForCsv.loc[shortForCsv['dept'] == "Superintendent", "dept"] = "Boston Public Schools"
shortForCsv.loc[shortForCsv['dept'] == "Asst Superintendent-Network G", "dept"] = "Boston Public Schools"
shortForCsv.loc[shortForCsv['dept'] == "Asst Superintendent-Network B", "dept"] = "Boston Public Schools"
shortForCsv.loc[shortForCsv['dept'] == "BPS Boston Latin", "dept"] = "Boston Public Schools"
shortForCsv.loc[shortForCsv['dept'] == "Asst Superintendent-Network E", "dept"] = "Boston Public Schools"
shortForCsv.loc[shortForCsv['dept'] == "Asst Superintendent-Network F", "dept"] = "Boston Public Schools"
shortForCsv.loc[shortForCsv['dept'] == "Asst Superintendent-Network D", "dept"] = "Boston Public Schools"
shortForCsv.loc[shortForCsv['dept'] == "BPS Equity", "dept"] = "Boston Public Schools"
shortForCsv.loc[shortForCsv['dept'] == "BPS English High", "dept"] = "Boston Public Schools"
shortForCsv.loc[shortForCsv['dept'] == "BPS Murphy Elementary", "dept"] = "Boston Public Schools"
shortForCsv.loc[shortForCsv['dept'] == "BPS Brighton High", "dept"] = "Boston Public Schools"




#put school chief chang in new school dept group not needed
#shortForCsv.loc[shortForCsv['name'] == "Chang,Tommy", "dept"] = "Boston Public Schools"
shortForCsv.loc[shortForCsv['name'] == "Chavda,Kamalkant A", "gender"] = "male"




shortForCsv["dept"].value_counts()

Boston Fire Department      57
Boston Public Schools       16
Boston Police Department    16
Law Department               2
Mayor's Office               2
Chief Academic Officer       2
Assessing Department         1
Boston Public Library        1
Research Assess & Eval       1
Chief Operating Officer      1
Property Management          1
Name: dept, dtype: int64

In [32]:
shortForCsv['gender'].value_counts()

male      81
female    19
Name: gender, dtype: int64

In [33]:
b = d_2014[(d_2014['dept']== "Superintendent")]
b
#could check to see if all these people are in BPS to change the category overall..

KeyError: 'dept'

In [ ]:
#Generate histograms using the format df.YOUR_CHOICE_OF_COLUMN_NAME.hist(bins=YOUR_CHOICE_OF_BIN_SIZE)

shortForCsv.salary.hist(bins=20)
plt.xlabel('salaries')
plt.ylabel('Frequency')
plt.title('salaries');

plt.show();

In [ ]:

shortForCsv[shortForCsv.gender == "female"].salary.hist(bins=5)
plt.xlabel('salaries')
plt.ylabel('Frequency')
plt.title('salaries');

plt.show();

In [ ]:
shortForCsv[shortForCsv.gender == "male"].salary.hist(bins=5)
plt.xlabel('salaries')
plt.ylabel('Frequency')
plt.title('salaries');

plt.show();

In [ ]:
#d_2015
d_2014[d_2014.gender == "male"].salary.hist(bins=15)
plt.xlabel('salaries')
plt.ylabel('Frequency')
plt.title('salaries');

plt.show();

In [ ]:
#d_2015
d_2014[d_2014.gender == "female"].salary.hist(bins=15)
plt.xlabel('salaries')
plt.ylabel('Frequency')
plt.title('salaries');

plt.show();

In [ ]:
shortForCsv.to_csv("top100_2014", index=False)

In [34]:
shortForCsv.head()

,name,firstName,gender,salary,totalSalary,dept
16227,"McDonough,John P",John,male,254358.0,259165.0,Boston Public Schools
18127,"Evans,William B",William,male,186204.0,186204.0,Boston Police Department
21932,"Ruggere,Michael J",Michael,male,183196.0,242423.0,Boston Fire Department
21103,"Granara,David Richard",David,male,183087.0,214774.0,Boston Fire Department
21171,"Hasson,John",John,male,182485.0,200466.0,Boston Fire Department

In [35]:
import seaborn as sns
#x = shortForCsv["dept"]
#y = shortForCsv["gender"]
sns.lmplot("dept", "gender", data=shortForCsv, fit_reg=False)
#ax = sns.stripplot(x=shortForCsv["dept"])

#d_2016["firstName"] = y
#d_2016["gender"] = gender

TypeError: Could not convert malemalemalemalemalefemalemalemalefemalemalemalefemalemalemalemalemalemalemalemalefemalemalemalemalemalemalemalemalefemalemalemalemalemalemalemalemalemalemalemalemalemalemalemalemalemalemalemalemalefemalemalemalemalemalemalemalemalemalemalemalemalemalemalemalemalemalefemalemalefemalemalefemalemalemalemalemalemalefemalemalemalefemalefemalemalemalemalefemalemalemalefemalemalemalemalemalefemalefemalemalemalemalefemalefemalemalefemalemale to numeric

Im going to add mostly female and mostly males to females and males respectively, and group androgynous and unknown into one group...maybe ill use them later

#trying a second gender dectector
#couldn't geet it to work..
#import gender_guesser.detector as gender
import gender_detector.gender_detector as gender2
#detector = gender_detector('us') # It can also be ar, uk, uy.
gender2.guess('Marcos') # => 'male'
#from gender_detector import GenderDetector
#detector = GenderDetector('us') # It can also be ar, uk, uy.
#detector.guess('Marcos') # => 'male'

In [ ]:
max(pay_2016.regular)

In [ ]:
min(pay_2016.regular)

In [ ]:
x = pay_2016.iloc[:, 0:1]  #all rows, column 1

In [ ]:
x

In [ ]:
plt.plot(x)
plt.show()

In [ ]:
print x.mean(), x.max(), x.min(), x.mode()

In [ ]:
print birds["speed_2d"].mean(), birds["speed_2d"].max(), birds["speed_2d"].min(), birds["speed_2d"].mode()

We'll get started by simply plotting the latitude and longitude of a flight
trajectory for a single bird in a standard two dimensional plot.
Latitude and longitude are coordinates along the surface of a sphere,
where a standard 2-D plot is a plane
so we would expect very strong distortions
for the flight trajectories.
This is especially true because the trajectories
cover a large spatial region.
We're doing this however, primarily to have a quick way to look at the data
and develop more intuition about it.
We'll be doing an actual cartographic projection later in this case study.

ACCESS ONE COLUMN

In [ ]:
#so grab flight trajectories of single bird 
#birds[bird_name == "Eric"] WRONG! maybe works in np or somewhere?
#makes a boolean
ix = birds.bird_name == "Eric" #for pandas this is how to access column

In [ ]:
#one_bird = birds["latitude"]["longitude", "bird_name"]
#so hes using the ix seems to only grab values if they are True, ie Eric
x, y = birds.longitude[ix], birds.latitude[ix]

In [ ]:
birds.longitude[ix].head()

In [ ]:
plt.subplot(211)
plt.plot(x,y,"ob")
plt.subplot(212)
plt.plot(x,y,) #just shows default is prettier
plt.show()

plot more birds...

In [ ]:
birds.bird_name.tail(10)

using unique...

In [ ]:
#but he does something better than this
#ia = birds.bird_name == "Sanne"
#ic = birds.bird_name == "Nico"
names = pd.unique(birds.bird_name)
names

In [ ]:
#having trouble with this, see how he does it below
#he skips making a new dict or list and just puts them in the graph
#latlong = {}
#for i in names:
 #   ix = birds.bird_name == i
  #  x = birds.latitude[ix], 
   # y = birds.longitude[ix]
    #latlong[x] == y

#latlong

In [ ]:
#his example WOW! very cool...
#plt.figure(figsize=(7,7)) # he puts the figure creation outside the loop
#even though  i dont it so blocked it out
for name in names:
    ix = birds.bird_name == name
    x,y = birds.longitude[ix], birds.latitude[ix] #be aware the order you put them in, I had them opposite
    plt.plot(x, y, ".", label=name) #so for the legend to work, have to add the label here! otherwise it just says longitdue...guess the last label available to it
plt.xlabel("Longitude")
plt.ylabel("Latitude") #make sure labels match the data ie x to x and y to latitude
plt.legend(loc="lower right")
plt.show() #im putting this down here and imagine it will work?

In [ ]:
a,b = birds.latitude[ia], birds.longitude[ia]
c,d = birds.latitude[ic], birds.longitude[ic]

In [ ]:
plt.plot(x, y) #this also is quite different from the above, wonder why?
plt.plot(a, b)
plt.plot(c, d)
plt.show()

* Learn how to examine 2D flight speed of the birds
* Learn how to deal with data entries that are not numeric
* The data also contain estimates of two dimensional speeds of the birds.
That is how fast they were flying on a 2D
plane that is a local approximation to the curved surface of the earth.
Let's look at the speed data in a little bit more detail.

In [ ]:
ix = birds.bird_name == "Eric"
speed = birds.speed_2d[ix]
speed

hist doesnt like it when there are null values so the below
doesnt run..until they are eliminated..he starts by doing first 10 rows only, so good idea...

In [ ]:
plt.hist(speed[:10]) 
plt.show()

are there non number objects? ..below are useful tests using numpy

In [ ]:
np.isnan(speed) #i dont see any trues but this is a good way to look
np.isnan(speed).any()#this is much better since it tell us that there is a null value
np.sum(np.isnan(speed)) #sum all the isnans... I got alot more than him??

turn a list to its opposite with ~

In [ ]:
ind = np.isnan(speed)
ind #ind is a true and false list..the NANs are true
~ind #interesting way to get the mirror opposite of ind, the non nans are now TRUE

In [ ]:
#this looks the same as dropna which is less work! interesting to use that idea thought
ind = np.isnan(speed)
plt.hist(speed[~ind])
plt.show()

In [ ]:
#kind of weird looking though..?
# I used dropna here, 
u = speed.dropna()
plt.hist(u)
plt.show()

add x label, y label, and make the bins normalized


### it looks alot better adding more bins
* the y axis is normalized, meaning
that an integral over the histogram would be equal to 1.
* numpy.linspace(start, stop, num=50, endpoint=True, retstep=False, dtype=None)[source]
Return evenly spaced numbers over a specified interval.

In [ ]:
ind = np.isnan(speed)
plt.hist(speed[~ind], bins = np.linspace(0,30,20), normed = True)
#i see in docs normed has been deprecated so swapping that with "density",
#which doesnt work in python 2
plt.xlabel("2D Speed (m/s)")
plt.ylabel("Frequency")
plt.show()

### Pandas 
provide some planning functions as well,
although less customizable than PLT plots,
they readily deal with things like NaNs.
However you want to make sure that you always
examine your data carefully and look for the presence of NaNs
before preparing your plots.
Let's look at how we would make the histogram using pandas.

pandas uses the kind and range argument for kind and bin number...all of the nan issue happens under the hood

In [ ]:
birds.speed_2d.plot(kind='hist', range = [0,30]);
plt.xlabel("2D Speed");
plt.show()

## * Learn how deal with timestamped data using datetime
## * Learn how to measure elapsed time

year month and day, are all strings, we're going to  convert them into so-called daytime object, that
supports our arithmetic operations.

In [ ]:
birds.date_time[0:3]

In [ ]:
import datetime

In [ ]:
datetime.datetime.today()

In [ ]:
time_1 = datetime.datetime.today()

In [ ]:
time_2 = datetime.datetime.today()
time_2

In [ ]:
time_2 - time_1

the above is called a date time time delta object. he said they all end i 00 but mine doesnt, thogh the data set does

In [ ]:
date_str = birds.date_time[0]

In [ ]:
print date_str, type(date_str)

get rid of the last three characters

In [ ]:
date_str[:-3]

a long way to strip and prep this
this has two arguments, the string you are working on, then the format you want for that string -- it is picky though, if you don't peel off those last 3 digits it won't do it!

In [ ]:
datetime.datetime.strptime(date_str[:-3],"%Y-%m-%d %H:%M:%S")

the ooutput above is a datetime object, we can go over every row and create a new datetime object for each row

In [ ]:
#this was taking along time to run so might be messed up

timestamps = []
done = []
for date in birds.date_time:
    new_date = datetime.datetime.strptime(date_str[:-3],"%Y-%m-%d %H:%M:%S")
    new_time = str(new_date)
    timestamps.append(new_time)

In [ ]:
x = str(timestamps[0])

In [ ]:
x